.movies-list {
  display: flex;
  overflow-x: scroll;
}

.movies-list::-webkit-scrollbar {
  height: 35px;
}

.movies-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 13px solid transparent;
  background-clip: content-box;
}

.movies-list::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #252525;
  height: 60px;
}

.movies-list div:first-child {
  margin-left: 5px;
}
